<div class="containerH">
  <button class="logout"><a href="/logout">Log Out</a></button>
</div>

<div class="containerH">
  <a href={{link}}>
    <img src={{image}} /> 
  </a>
</div>

<div class="containerH">
  <p>You searched for <a class="searched" href={{link}}>{{query}}</a>{{{comment}}}</p>
</div>


<div class="containerH">  
  <p><a href="search">search again</a></p>
</div>

<div class="containerH">
  <p><a href="/search/userHistory">view your history</a></p><br/>
</div>

